:root{
  --bg-black: black;
  --bg-primary: cornflowerblue;
  

  --txt-white: white;
}
header{
  min-height: 10vh;
  background: var(--bg-primary);
  color: var(--txt-white);
}
main{
  background-color: var(--bg-primary);
  height: 90vh;
}
.slider-container{
  width: 600px;
  height: 550px;
  margin: 20px auto;
  border: 1px solid black;
  box-shadow: 2px 5px 5px 0.1px  blue;
}
.city{
  width: 100%;
  height: 100%;
  color: white;
}
.city h2{
  color: white;
}
.city-img{
  height: 70%;
  position: relative;
  color: white;
}
.prev{
  position: absolute;
  left: -40px;
  top: 50%;
  font-size: 40px;
  color: white;
}
.next{
  position: absolute;
  right: -40px;
  top: 50%;
  font-size: 40px;
  color: white;
}
img{
  width: 100%;
  height: 100%;
}
.city-btn{
  font-size: 50px;
  display: flex;
  justify-content: space-between;
}
